<ng-template #rt let-r="result" let-t="term">
	<ngb-highlight [result]="r" [term]="t"></ngb-highlight>
</ng-template>
<div class="cadastroVendas styleCadastro">
	<div>
		<div class="col-md-12 title">
			<h2>{{vendaForm.get('NM_CLIENTE').value}}</h2>
			<span (click)="onNoClick()"></span>
		</div>

		<form class="form col-md-12" >
			<div class="row">
				<div class="col-md-12">
					<h4 style="display: inline-block">Produtos</h4>
					<label class="result">Status: {{vendaForm.get('STATUS_VENDA').value}}</label>
					<mat-divider></mat-divider>
				</div>
				<table class="table">
					<colgroup>
						<col width="30%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="15%">
						<col width="20%">

					</colgroup>
					<thead>
						<tr>
							<th>Descrição</th>
							<th class="text-center">Qtde</th>
							<th>Largura</th>
							<th>Altura</th>
							<th>Preço</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<ng-template ngFor let-item [ngForOf]="vendaForm.get('ITENS').value" let-i="index" class="template">
							<tr>
								<td class="colExtra">
									{{item.NM_PRODUTO}}
									<ul *ngIf="openExtra !== i">
										<li *ngFor="let extras of item.EXTRAS">
											{{extras.QUANTIDADE}} {{extras.DESCRICAO}}
										</li>
									</ul>
								</td>
								<td class="text-center">{{item.QTDE}}</td>
								<td>{{item.LARGURA}}</td>
								<td>{{item.ALTURA}}</td>
								<td>
									{{item.PRECO_FINAL | currency: 'BRL'}}
									<ul *ngIf="openExtra !== i" style="list-style: none">
										<li *ngFor="let extras of item.EXTRAS">
											{{extras.PRECO_FINAL | currency: 'BRL'}}
										</li>
									</ul>
								</td>
								<td>
									<button [hidden]="vendaForm.get('STATUS_VENDA').value === 'Pedido Fechado'" class="btn btn-danger"
										(click)="rmProduto(i)" ngbPopover="Remover" placement="top" triggers="mouseenter:mouseleave">
										<i class="fa fa-minus"></i>
									</button>
									<button [hidden]="vendaForm.get('STATUS_VENDA').value === 'Pedido Fechado' || item.TIPO !== 'Chaparia'"
										class="btn btn-primary" type="button" (click)="openServicosExtras(i)" ngbPopover="Serviços Extra" placement="top"
										triggers="mouseenter:mouseleave">
										{{item.EXTRAS ? item.EXTRAS.length : 0}}
										<span class="btn-label">
											<i class="fa" [ngClass]="{'fa-plus': openExtra !== i, 'fa-minus': openExtra === i}"></i>
										</span>
									</button>
									<button [hidden]="vendaForm.get('STATUS_VENDA').value === 'Pedido Fechado' || item.TIPO !== 'Chaparia'"
										class="btn btn-primary input" (click)="imageInput.click()">
										<span class="btn-label">
											<i class="fa fa-paperclip"></i>
										</span>
										<input #imageInput type="file" (change)="processFile($event)">
									</button>
								</td>
							</tr>
							<tr *ngFor="let extra of item.EXTRAS; let j = index" [hidden]="openExtra !== i">
								<td>{{extra.DESCRICAO}}</td>
								<td>{{extra.QUANTIDADE}}</td>
								<td colspan="2"></td>
								<td>{{extra.PRECO_FINAL | currency: 'BRL'}}</td>
								<td>
									<button class="btn btn-danger" type="button" (click)="rmServicosExtras(i, j)" ngbPopover="Remover Serviço Extra"
										placement="top" triggers="mouseenter:mouseleave">
										<i class="fa fa-minus"></i>
									</button>
								</td>
							</tr>
							<tr *ngIf="openExtra == i" >
								<td colspan="6">
									<form class="form-inline formExtras" [formGroup]="extraForm">
										<div class="form-group">
											<label for="servico">Serviço: </label>
											<input type="text" class="form-control" [ngbTypeahead]="searchServicos" formControlName="DESCRICAO"
												[resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectServicosExtras($event.item)">
										</div>
										<div class="form-group">
											<label>Quantidade: </label>
											<input type="text" class="form-control"
												formControlName="QUANTIDADE">
										</div>
										<div class="form-group">
											<label for="">{{extraForm.get('PRECO_FINAL').value | currency: 'BRL'}}</label>
											<button class="btn btn-success" type="submit" (click)="addServicosExtras(i)" ngbPopover="Adicionar Serviço Extra"
												placement="top" triggers="mouseenter:mouseleave">
												<i class="fa fa-plus"></i>
											</button>
										</div>

									</form>
								</td>
							</tr>
						</ng-template>
						<tr [formGroup]="itensForm"
							*ngIf="(openExtra === -1 || vendaForm.get('PRECO_FINAL').value === 0) && vendaForm.get('STATUS_VENDA').value !== 'Pedido Fechado'">
							<td><input type="text" class="form-control" formControlName="NM_PRODUTO" [ngbTypeahead]="searchProdutos"
									[resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectProduto($event.item)"
									[ngClass]="{'error-label': submittedProduto && itensForm.controls['NM_PRODUTO'].errors}">
							</td>
							<td><input type="text" class="form-control"
									[ngClass]="{'error-label': submittedProduto && itensForm.controls['QTDE'].errors}" formControlName="QTDE">
							</td>
							<td><input type="text" class="form-control" *ngIf="itensForm.get('TIPO').value === 'Chaparia'"
								[ngClass]="{'error-label': submittedProduto && itensForm.controls['LARGURA'].errors}" formControlName="LARGURA">
							</td>
							<td><input type="text" class="form-control" *ngIf="itensForm.get('TIPO').value === 'Chaparia'"
								[ngClass]="{'error-label': submittedProduto && itensForm.controls['ALTURA'].errors}" formControlName="ALTURA">
							</td>
							<td>{{itensForm.get('PRECO_FINAL').value | currency: 'BRL'}}</td>
							<td>
								<button class="btn btn-success" (click)="addProduto()"
								ngbPopover="Adicionar Produtos" placement="top" triggers="mouseenter:mouseleave">
									<i class="fa fa-plus"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<div class="col-md-12" style="height: 38px;">
			<button [hidden]="vendaForm.get('STATUS_VENDA').value === 'Pedido Fechado'" class="btn btn-delvetro"
				(click)="orcamento()">
				<span class="btn-label">
					<i class="fa fa-check"></i>
				</span>
				Salvar Orçamento
			</button>
			<button [hidden]="vendaForm.get('STATUS_VENDA').value === 'Pedido Fechado'" class="btn btn-delvetro"
				(click)="salvarVenda('Pedido Fechado')">
				<span class="btn-label">
					<i class="fa fa-check"></i>
				</span>
				Fechar Pedido
			</button>
			<button [hidden]="vendaForm.get('STATUS_VENDA').value !== 'Pedido Fechado'" class="btn btn-delvetro-error"
				(click)="salvarVenda('Cancelado')">
				<span class="btn-label">
					<i class="fa fa-close"></i>
				</span>
				Cancelar Pedido
			</button>
			<label class="result">Preço Final: {{vendaForm.get('PRECO_FINAL').value | currency: 'BRL'}}</label>
		</div>
	</div>
</div>
