.cadastroVendas{
    margin-top: 10vh;
    padding: 1%;
    .title{
        margin-bottom: 1%;
    }
    .template{
        tr :nth-child(n){
            border: 0px;
        }
    }
    .colExtra{
        position: relative;
        .iconExtras{
            position: absolute;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }
        ul {
            padding-inline-start: 40px;
        }
    }
    .result{
        font-size: 18px;
        position: absolute;
        right: 0;
    }

    .formExtras{
        div{
            margin: 0 2vw 0;
            label, input{
                margin-right: 1vw;
            }
        }
    }
    .upload {
        
        input {
            display: none;
        }
    }

}
