.cadastroVendas{
    margin-top: 10vh;
    padding: 1%;
    .title{
        margin-bottom: 1%;
    }
    .template{
        tr :nth-child(i){
            border: 0px;
        }
    }
    .colExtra{
        position: relative;
        .iconExtras{
            position: absolute;
            bottom: 0;
            left: 0;            
            cursor: pointer;
        }
    }
    

    .formExtras{
        div{
            margin: 0 2vw 0;
            label, input{
                margin-right: 1vw;
            }
        }
    }

}