.mat-icon {
	font-size: 112px;
	width: 112px;
	height: 112px;
	line-height: 112px;
	color: green
}

.status {
	justify-content: center;
	display: flex;
}

.button {
	display: flex;
	justify-content: center;

}
