.dashFinanceiro {
	margin-top: 5vh;
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	.btn {
		margin-top: 0.5rem
	}
	&:last-child {
		margin-bottom: 5vh;
		padding: 1% 0;
		h3 {
			padding: 0 1%;
		}
	}

	table {
		
		td,th {
			border: 1px solid #dee2e6;
			padding: 8px;
		}
		.filter > input{
			font-size: 12px;	
		}
	}
}

