.row {
	margin: 0 5%;


}
.met2 div{
	
	width: 250px;
	height: 140px;
	
}
.tabela {

	margin: 30px 5%;
	box-shadow: 2px -1px 20px #888888;
	border-top-left-radius: 10px;

	.header {
		padding: 8px;
		border: 1px solid #dee2e6;
		border-top-left-radius: 10px;

		span {
			margin: 0 10px;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}

.table {

	td,
	th {
		border: 1px solid #dee2e6;
		padding: 8px;
	}

	td {
		font-size: 16px;
	}


}

.total td {
	font-weight: bold;
}

.dp {
	font-size: 12px;
}

i {
	font-size: 20px;
	vertical-align: middle
}

.pago {
	color: #6de000;
}
.parcial {
	color: yellow
}
.acc {
	cursor: pointer;
	&:last-child(){
		cursor: none;
	}
	&:nth-child(2n+1) {
		td {
			background: #eee
		}
	}

	table,
	tbody {
		width: 100%;

	}

	td {
		padding: 8px 0;
	}

	.table2 {
		td {
			border: 0;
			padding: 8px 8px;
		}


	}

	.table3 {
		display: none;

		&.open {
			display: table;
		}
		td {
			padding: 8px 8px;
		}
	}
}

.btn-group{
	width: 100%;
}
