.row {
	margin: 0 5%;


}
.tabela {
	width: 80%;
	margin: 30px 10%;
	box-shadow: 2px -1px 20px #888888;
	border-top-left-radius: 10px;
	.header {
		padding: 8px;
		border: 1px solid #dee2e6;
		border-top-left-radius: 10px;

		span {
			margin: 0 10px;
			&:hover{
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
}
.table {

	td,
	th {
		border: 1px solid #dee2e6;
		padding: 8px;
	}

	td {
		font-size: 0.8em;
	}


}

.dp {
	font-size: 14px;
}
