<div>
	<div class="tabela">
		<div class="header">
			<span (click)="getList('pedidos')">Pedidos</span>
			<span (click)="getList('fechamento')">Fechamento</span>
			<span (click)="getList('gastos')">Gastos</span>
			<span (click)="getList('clientes')">Clientes</span>
		</div>
		<table class="table">
				<colgroup *ngIf="tabActive.nome == 'pedidos'">
					<col width="20%">
					<col width="20%">
					<col width="35%">
					<col width="25%">
				</colgroup>
				<colgroup *ngIf="['fechamento', 'gastos' ,'clientes'].indexOf(tabActive.nome) != -1 ">
					<col width="30%">
					<col width="40%">
					<col width="30%">
				</colgroup>
			<thead>
				<tr>
					<th style="position: relative;" >
						<div *ngIf="tabActive.filtros[0].tipo == 'd'">
							<i  class="material-icons fil" *ngIf="tabActive.filtros[0].filter != undefined"	 (click)="setFilter('pedido')" [ngClass]="{'select': tabActive.filtros[0].filter }">
								check_circle_outline
							</i>
							<div class="input-group data">
								<input class="form-control dp" [ngClass]="{'select': tabActive.filtros[0].filter }" (dateSelect)="onDateSelection($event,'coluna1')" [maxDate]="today" placeholder="yyyy-mm-dd"
								 name="dp1" [(ngModel)]="tabActive.filtros[0].valorMin" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
								<input class="form-control dp" [ngClass]="{'select': tabActive.filtros[0].filter }" (dateSelect)="onDateSelection($event,'coluna1')" [maxDate]="today" placeholder="yyyy-mm-dd"
								 name="dp2" [(ngModel)]="tabActive.filtros[0].valorMax" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
							</div>
						</div>
					</th>
					<th style="position: relative;">
						<div *ngIf="tabActive.filtros[1].tipo == 'd'">
							<i class="material-icons fil" (click)="setFilter('pagamento')" [ngClass]="{'select': tabActive.filtros[1].filter }">
								check_circle_outline
							</i>
							<div class="input-group data">
								<input class="form-control dp" [ngClass]="{'select': tabActive.filtros[1].filter }" (dateSelect)="onDateSelection($event,'coluna2')" [maxDate]="today" placeholder="yyyy-mm-dd"
								 name="dp3" [(ngModel)]="tabActive.filtros[1].valorMin" ngbDatepicker #d3="ngbDatepicker" (click)="d3.toggle()">
								<input class="form-control dp" [ngClass]="{'select': tabActive.filtros[1].filter }" (dateSelect)="onDateSelection($event,'coluna2')" [maxDate]="today" placeholder="yyyy-mm-dd"
								 name="dp4" [(ngModel)]="tabActive.filtros[1].valorMax" ngbDatepicker #d4="ngbDatepicker" (click)="d4.toggle()">
							</div>
						</div>
						<input *ngIf="tabActive.filtros[1].tipo == 's'" class="form-control" type="text" placeholder="Pesquisa" [(ngModel)]="tabActive.filtros[1].valor" (ngModelChange)="getListaClientes()">
					</th>
					<th *ngIf="tabActive.nome == 'pedidos'">
						<input class="form-control" type="text" placeholder="Pesquisa" [(ngModel)]="tabActive.filtros[2].valor" (ngModelChange)="getListaVendas()">
					</th>
					<th *ngIf="tabActive.nome == 'pedidos'">
						<div class="btn-group">
							<button type="button" class="btn btn-outline-dark" [class.active]="isActive('NPago')" (click)="setActive('NPago')">Não
								Pago</button>
							<button type="button" class="btn btn-outline-dark" [class.active]="isActive('Pago')" (click)="setActive('Pago')">Pago/Parcial</button>
						</div>
					</th>

				</tr>
				<tr>
					<th>
						{{ tabActive.nome == 'pedidos' ? 'Data Pedido' : ''}}
						{{ tabActive.nome == 'fechamento' ? 'Data Pagamento' : ''}}
						{{ tabActive.nome == 'gastos' ? 'Data Pagamento' : ''}}
						{{ tabActive.nome == 'clientes' ? 'Periodo' : ''}}
					</th>
					<th>
						{{ tabActive.nome == 'pedidos' ? 'Ultima Data Pagamento': ''}}
						{{ tabActive.nome == 'fechamento' ? 'Conta Pagamento' : ''}}
						{{ tabActive.nome == 'gastos' ? 'Conta Pagamento' : ''}}
						{{ tabActive.nome == 'clientes' ? 'Cliente' : ''}}
					</th>
					<th>
						{{ tabActive.nome == 'pedidos' ? 'Cliente' : ''}}
						{{ tabActive.nome == 'fechamento' ? 'Valor' : ''}}
						{{ tabActive.nome == 'gastos' ? 'Valor' : ''}}
						{{ tabActive.nome == 'clientes' ? 'Valor' : ''}}
					</th>
					<th *ngIf="tabActive.nome == 'pedidos'" >{{ tabActive.nome == 'pedidos' ? 'Valor' : ''}}</th>
				</tr>
			</thead>
			<tbody >
				<tr class="total">
					<td>{{tabelaTotal.coluna1}} Pedido{{tabelaTotal.coluna1 > 1? 's' : ''}}</td>
					<td>{{tabelaTotal.coluna2}}</td>
					<td *ngIf="tabActive.nome == 'fechamento' || tabActive.nome == 'gastos' ">
						{{tabActive.nome == 'fechamento' || tabActive.nome == 'gastos' ? (tabelaTotal.coluna3 | currency:'BRL') : ''}}/{{tabActive.nome == 'fechamento' || tabActive.nome == 'gastos' ? (tabelaTotal.coluna4 | currency:'BRL') : ''}}
					</td>
					<td *ngIf="['pedidos' ,'clientes'].indexOf(tabActive.nome) != -1 ">
						{{ tabActive.nome == 'pedidos' ? tabelaTotal.coluna3 : ''}}
						{{ tabActive.nome == 'clientes' ? (tabelaTotal.coluna3 | currency: 'BRL') : ''}}
					</td>
					<td *ngIf="tabActive.nome == 'pedidos'">
						{{tabelaTotal.coluna5 | currency:'BRL'}}/{{tabelaTotal.coluna4 | currency:'BRL'}}
					</td>
				</tr>
				<tr class="acc" [hidden]="paginacao.lista.length == 0" *ngFor="let item of paginacao.lista; index as i" >
					<td  [attr.colspan]="tabActive.colspan" [attr.id]="'linha'+i">
						<div >
							<table class="table2" >
								<colgroup *ngIf="tabActive.nome == 'pedidos'">
									<col width="20%">
									<col width="20%">
									<col width="35%">
									<col width="25%">
								</colgroup>
								<colgroup *ngIf="['fechamento', 'gastos' ,'clientes'].indexOf(tabActive.nome) != -1 ">
									<col width="30%">
									<col width="40%">
									<col width="30%">
								</colgroup>
								<tbody>
									<tr>

										<td class="text-center" (click)="open(item)">
											{{ tabActive.nome == 'pedidos' ? (item.ven_data | date:'dd/MM/yyyy') : ''}}
											{{ tabActive.nome == 'fechamento' ? (item.clientes[0].dataPagamento | date:'dd/MM/yyyy') : ''}}
											{{ tabActive.nome == 'gastos' ? (item.gastos[0].dataPagamento | date:'dd/MM/yyyy') : ''}}
											{{ tabActive.nome == 'clientes' ? item.periodo : ''}}
										</td>
										<td [ngClass]="{'text-center': tabActive.nome == 'pedidos' }" (click)="open(item)">
											{{ tabActive.nome == 'pedidos' ? (item.cai_pagamento  ? (item.cai_pagamento | date:'dd/MM/yyyy') : '-') : ''}}
											{{ tabActive.nome == 'fechamento' ? item.formaPagamento : ''}}
											{{ tabActive.nome == 'gastos' ? item.formaPagamento : ''}}
											{{ tabActive.nome == 'clientes' ? item.nome : ''}}
										</td>
										<td>
											{{ tabActive.nome == 'pedidos' ? item.ven_responsavel : ''}}
											{{ tabActive.nome == 'fechamento' ? ((item.formaPagamento !== 'DEBITO DE CONSUMO' ? item.valorCredito : item.valorDebito)  | currency:'BRL') : ''}}
											{{ tabActive.nome == 'gastos' ? ((item.valorDebito == 0 ? item.valorCredito : item.valorDebito ) | currency:'BRL') : ''}}
											{{ tabActive.nome == 'clientes' ? (item.valorCredito | currency: 'BRL') : ''}}
											<button *ngIf="['gastos' ,'fechamento'].indexOf(tabActive.nome) != -1 " class="btn btn-default" style="z-index: 9999999;" (click)="exportPDF(i)">
												<i class="material-icons">print</i>
											</button>
										</td>
										<td class="text-center" *ngIf="tabActive.nome == 'pedidos'" (click)="open(item)">
											<span>
												{{item.ven_total | currency:'BRL'}}
												<i placement="top" ngbTooltip="{{item.qtde_pago | currency: 'BRL'}}" class="material-icons" [ngClass]="{'pago': item.status_pagamento == 'Pago' ? true : '','parcial': item.status_pagamento == 'Parcial' ? true : ''  }">done</i>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table3"  [ngClass]="{'open': openRow == item  }" [hidden]="paginacao.lista.length == 0" >
								<tbody *ngIf="tabActive.nome === 'pedidos'">
									<tr>
										<th>Produto</th>
										<th>Categoria</th>
										<th>Setor</th>
										<th>Altura</th>
										<th>Largura</th>
										<th>Metro</th>
										<th>Qtde</th>
									</tr>
									<tr *ngFor="let produto of item.produtos">
										<td>{{produto.pro_nome}}</td>
										<td class="text-center">{{produto.pro_categoria}}</td>
										<td class="text-center">{{produto.pro_setor}}</td>
										<td class="text-center">{{produto.altura}}</td>
										<td class="text-center">{{produto.largura}}</td>
										<td class="text-center">{{produto.metro}}</td>
										<td class="text-center">{{produto.qtde}}</td>
									</tr>
								</tbody>
								<tbody *ngIf="tabActive.nome === 'fechamento'">
									<tr>
										<th>Data Pedido</th>
										<th>Data Pagamento</th>
										<th>Cliente</th>
										<th>Valor Credito</th>
										<th>Valor Debito</th>
									</tr>
									<tr *ngFor="let cliente of item.clientes">
										<td class="text-center">{{cliente.dataPedido | date: 'dd/MM/yyyy'}}</td>
										<td class="text-center">{{cliente.dataPagamento | date: 'dd/MM/yyyy'}}</td>
										<td >{{cliente.cliente}}</td>
										<td >{{cliente.credito | currency: 'BRL'}}</td>
										<td >{{cliente.debito | currency: 'BRL'}}</td>
									</tr>
								</tbody>
								<tbody *ngIf="tabActive.nome === 'gastos'">
										<tr>
											<th>Data Pedido</th>
											<th>Data Pagamento</th>
											<th>Categoria</th>
											<th>Forma Pagamento</th>
											<th>Descricao</th>
											<th>Valor Credito</th>
											<th>Valor Debito</th>
										</tr>
										<tr *ngFor="let gasto of item.gastos">
											<td class="text-center">{{gasto.dataPedido | date: 'dd/MM/yyyy'}}</td>
											<td class="text-center">{{gasto.dataPagamento | date: 'dd/MM/yyyy'}}</td>
											<td >{{gasto.categoria}}</td>
											<td >{{gasto.modoPagamento}}</td>
											<td >{{gasto.descricao}}</td>
											<td >{{gasto.credito | currency: 'BRL'}}</td>
											<td >{{gasto.debito | currency: 'BRL'}}</td>
										</tr>
									</tbody>
							</table>
						</div>
					</td>
				</tr>
				<tr *ngIf="['pedidos' ,'clientes'].indexOf(tabActive.nome) != -1 ">
					<td [attr.colspan]="tabActive.colspan">
						<mat-paginator *ngIf="paginacao.lista" [length]="paginacao.length" [pageSize]="paginacao.pageSize"
						 [pageSizeOptions]="paginacao.pageSizeOptions" (page)="page($event)">
						</mat-paginator>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
