<div class="navbar">
	<img src="assets/logo_branco_nfundo.png" alt="logo">
	<mat-divider></mat-divider>
	<div class="cadastros">
		<span ><i class="fa fa-address-card"></i>Cadastros</span>

		<ul>
			<li [routerLink]="'cadastro/cliente'">Cliente</li>
			<li [routerLink]="'cadastro/estoque'">Estoque</li>
			<li [routerLink]="'cadastro/servicos'">Serviços</li>
			<li [routerLink]="'cadastro/produtos'">Produtos</li>
			<li [routerLink]="'cadastro/beneficiados'">Beneficiados</li>
		</ul>

	</div>
	<span [routerLink]="'vendas'"><i class="fa fa-shopping-cart"></i>Vendas</span>
	<div class="cadastros">
		<span><i class="fa fa-dollar"></i>Financeiro</span>

		<ul>
			<li [routerLink]="'financeiro'">Lançar Despesas</li>
			<li [routerLink]="'financeiro/calendario'">Visualizar Despesas</li>
		</ul>

	</div>


	<span [routerLink]="'dashboard'"><i class="fa fa-bar-chart"></i>Dashboard</span>
	<span [routerLink]="'cliente'"><i class="fa fa-user-circle-o"></i>Cliente</span>

</div>

<div class="main">
	<router-outlet></router-outlet>
</div>