<ng-template #rt let-r="result" let-t="term">
	<ngb-highlight [result]="r" [term]="t"></ngb-highlight>
</ng-template>
<div class="financeiro styleCadastro">
	<div class="col-md-12 title">
		<h2>Lançar Despesas</h2>
		<button [mat-dialog-close]="" class="btn"><span></span></button>
	</div>
	<form class="col-md-12" [formGroup]="despesaForm">
		<div class="row">
			<div class="col-md-3 form-group">
				<label>Descrição Despesa</label>
				<input type="text" class="form-control" formControlName="NM_DESPESA"
					[ngClass]="{'error-label': submitted && despesaForm.controls['NM_DESPESA'].errors}"
					[ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" 
					(selectItem)="selectDespesa($event.item)">
			</div>
			<div class="col-md-3 form-group">
				<label>Beneficiado</label>
				<input type="text" class="form-control" formControlName="NM_BENEFICIADO"  [ngbTypeahead]="searchBeneficiado" [resultTemplate]="rt" [inputFormatter]="formatter"
					[ngClass]="{'error-label': submitted && despesaForm.controls['NM_BENEFICIADO'].errors}" (selectItem)="selectBeneficiado($event.item)">
			</div>
			<div class="col-md-3 form-group">
				<label>Categoria</label>
				<select class="form-control" formControlName="ID_CATEGORIA"
					[ngClass]="{'error-label': submitted && despesaForm.controls['ID_CATEGORIA'].errors}">
					<option *ngFor="let item of comboCategoria" [ngValue]="item.VALOR">{{item.LABEL}}</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label>Data Vencimento</label>
				<div class="input-group">
					<input [matDatepicker]="pickerVencimento" placeholder="mm/dd/yyyy" formControlName="DT_VENCIMENTO"
						class="form-control" [ngClass]="{'error-label': submitted && despesaForm.controls['DT_VENCIMENTO'].errors}">
					<mat-datepicker-toggle class="input-group-btn" matSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
				</div>
				<mat-datepicker #pickerVencimento></mat-datepicker>
			</div>			
			<div class="col-md-3 form-group">
				<label>Forma de Pagamento</label>
				<select class="form-control" formControlName="ID_FORMA_PGTO"
					[ngClass]="{'error-label': submitted && despesaForm.controls['ID_FORMA_PGTO'].errors}">
					<option *ngFor="let item of comboFormaPgto" [ngValue]="item.VALOR">{{item.LABEL}}</option>
				</select>
			</div>
			<div class="col-md-3 form-group">
				<label>Valor de Pagamento</label>
				<input type="text" class="form-control" formControlName="VL_DESPESA">
			</div>
			<div class="col-md-3 form-group">
				<label>Status Pagamento</label>
				<select class="form-control" formControlName="STATUS_PGTO"
					[ngClass]="{'error-label': submitted && despesaForm.controls['STATUS_PGTO'].errors}">
					<option value="Aguardando Pagamento">Aguardando Pagamento</option>
					<option value="Pago">Pago</option>
				</select>
			</div>
			<div class="col-md-3 form-group" *ngIf="despesaForm.get('STATUS_PGTO').value === 'Pago'">
				<label>Data de Pagamento</label>
				<div class="input-group" >
					<input [matDatepicker]="pickerPagamento" placeholder="mm/dd/yyyy" formControlName="DT_PGTO" [ngClass]="{'error-label': submitted && despesaForm.controls['DT_PGTO'].errors}"
						class="form-control">
					<mat-datepicker-toggle class="input-group-btn" matSuffix [for]="pickerPagamento"></mat-datepicker-toggle>
				</div>
				<mat-datepicker #pickerPagamento></mat-datepicker>
			</div>
		</div>
	</form>
	<div class="col-md-12">
		<button class="btn btn-delvetro" (click)="salvarDespesa()">
			<span class="btn-label"><i class="fa fa-check"></i>
			</span>Salvar
		</button>
		<button class="btn btn-delvetro" (click)="resetForm()">
			<span class="btn-label"><i class="fa fa-refresh"></i>
			</span>Limpar
		</button>
	</div>
</div>
