<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="navbar">
	<h3>Delvetro</h3>

	<div class="cadastros">
		<span ><i class="fa fa-address-card"></i>Cadastros</span>

		<ul>
			<li [routerLink]="'cadastro/cliente'">Cliente</li>
			<li [routerLink]="'cadastro/estoque'">Estoque</li>
			<li [routerLink]="'cadastro/servicos'">Serviços</li>
			<li [routerLink]="'cadastro/produtos'">Produtos</li>
		</ul>

	</div>
	<span [routerLink]="'dashboard'"><i class="fa fa-bar-chart"></i>Dashboard</span>
	<span [routerLink]="'cliente'"><i class="fa fa-user-circle-o"></i>Cliente</span>

</div> -->

<div class="main">
	<router-outlet></router-outlet>
</div>
