<div class="itens styleCadastro">
    <div class="headerTable">
      <h3>Itens Vendidos</h3>      
      <div>
        <!-- <span><i class="fa fa-flag-checkered"></i></span> -->        
        <img src="assets/customer.svg" alt="Icon made by Pixel perfect from www.flaticon.com" (click)="entrega()">
      </div>
      
    </div>
    <table class="table table-striped">
        <colgroup>
          <col width="5%">
          <col width="5%">
          <col width="20%">
          <col width="20%">
          <col width="10%">
          <col width="5%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th>
              <div class="filter">
                <input class="form-control" type="text" placeholder="ID" [(ngModel)]="filtrosTabela.ID.valor" (ngModelChange)="getItens()" >
              </div>
            </th>
            <th>
              <div class="filter">						
                <input class="form-control" type="text" placeholder="Pesquisa" [(ngModel)]="filtrosTabela.Cliente.valor" (ngModelChange)="getItens()" >
              </div>
            </th>
            <th>
            	<div class="filter">
            		<input class="form-control" type="text" placeholder="Pesquisa" [(ngModel)]="filtrosTabela.Descricao.valor" (ngModelChange)="getItens()">
            	</div>
            </th>
            <th></th>
            <th></th>
            <th>
            	<div class="input-group filter">
            		<input class="form-control" [matDatepicker]="picker1Min" placeholder="mm/dd/yyyy"
                  [(ngModel)]="filtrosTabela.Dt_venda.valorMin" (dateChange)="getItens()"
            			(click)="picker1Min.open()">
            		<mat-datepicker #picker1Min></mat-datepicker>
            		<input class="form-control" [matDatepicker]="picker1Max" placeholder="mm/dd/yyyy"
                  [(ngModel)]="filtrosTabela.Dt_venda.valorMax" (dateChange)="getItens()"
            			(click)="picker1Max.open()">
            		<mat-datepicker #picker1Max></mat-datepicker>
            	</div>
            </th>
            <th>
            	<div class="filter">
            		<select class="form-control"  [(ngModel)]="filtrosTabela.Status.valor" (ngModelChange)="getItens()">
            			<option [ngValue]="null">Todos</option>
            			<option *ngFor="let item of comboStatusItens" [ngValue]="item.LABEL">{{item.LABEL}}</option>
            		</select>
            	</div>
            </th>
            <th>
              <div class="filter">
                <select class="form-control"  [(ngModel)]="filtrosTabela.Financeiro.valor" (ngModelChange)="getItens()">
                  <option [ngValue]="null">Todos</option>
                  <option>Pendente</option>
                  <option>Pago Parcial</option>
                  <option>Pago</option>
                </select>
              </div>
            </th>
          </tr>       
          <tr>
            <th></th>
            <th>ID</th>
            <th>Cliente</th>
            <th>Descrição</th>
            <th>Dimensões</th>
            <th>Quantidade</th>
            <th class="text-center">Dt Venda</th>     
            <th>Status</th> 
            <th>Financeiro</th>      
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tabela">
            <td class="text-center" ><mat-checkbox class="example-margin" [color]="color" [(ngModel)]="item.check"></mat-checkbox></td>
            <td>{{item.ID_ITEM_VENDIDO}}</td>
            <td>{{item.NM_CLIENTE}}</td>
            <td>{{item.NM_PRODUTO}}</td>
            <td>{{item.ALTURA ? item.ALTURA +'X'+item.LARGURA : ''}}</td>
            <td class="text-center">{{item.QTDE}}</td>
            <td class="text-center">{{item.DT_VENDA | date: 'dd/MM/yyyy'}}</td>
            <td>{{item.STATUS}}</td>
            <td>{{item.STATUS_FINANCEIRO}}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator *ngIf="tabela" [length]="paginaState.length" [pageSize]="paginaState.pageSize"
        [pageSizeOptions]="paginacaoConfig.pageSizeOptions" (page)="pageEvent($event)">
				</mat-paginator>
</div>