.cadastro{
    margin-top: 10vh;
    padding: 1%;
    .title{
        margin-bottom: 1%;
    }
    .form{
        width: 100%;

    }
    .btn{
		background-color: var(--delvetro-primary);
		color:#fff;

    }
    .error{
        border-color: red;
    }
}
