.cadastro{
    margin-top: 10vh;
    padding: 1%;
    .title{
        margin-bottom: 1%;
    }
    .form{
        width: 100%;

    }
    .btn{
		background-color: var(--delvetro-primary);
		color:#fff;
		padding-bottom: 0;
		padding-top: 0;
		.btn-label{
			position: relative;
    		left: -12px;
    		display: inline-block;
    		padding: 6px 12px;
    		background: var(--delvetro-primary-dark);

		}
    }
    .error{
        border-color: red;
    }
}
