/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
:root{
	--delvetro-primary: #1976d2;
	--delvetro-primary-dark: #0958a7;
	--delvetro-success: #28a745;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
.styleCadastro {
    margin: auto;
    max-width: 80vw;
    box-shadow: 2px -1px 20px #888888;
    border: 1px solid transparent;
	border-radius: 10px;
	background-color: transparent;
    .form-control:disabled{
        cursor: no-drop;
    }
}
.btn-delvetro{
	background-color: var(--delvetro-primary);
	border-color: var(--delvetro-primary);
	color:#fff;
	padding-bottom: 0;
	padding-top: 0;

	&:hover, &:focus{
		color:#fff;
		background-color: var(--delvetro-primary-dark);
		border-color: var(--delvetro-primary-dark);
	}
	.btn-label{
		position: relative;
		left: -12px;
		display: inline-block;
		padding: 6px 12px;

	}
	&.success{
		background-color: var(--delvetro-success);
		border-color: var(--delvetro-success);
	}
}
.btn-delvetro-error{
	background-color: red;
	border-color: red;
	color:#fff;
	padding-bottom: 0;
	padding-top: 0;

	&:hover, &:focus{
		color:#fff;
		background-color: red;
		border-color: red;
	}
	.btn-label{
		position: relative;
		left: -12px;
		display: inline-block;
		padding: 6px 12px;

	}
}
.btn+.btn{
	margin-left: 5px;
}
.error-label{
	border-color: red;
}
.model-cadastro .mat-dialog-container{
	padding: 0;
	margin-left: 10vw;
	.styleCadastro{
		margin-top: 0;
	}

}
