/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
:root{
    --delvetro-primary: mat-palette($mat-blue)
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;    
}
.styleCadastro {
    margin: auto;    
    max-width: 80vw;
    box-shadow: 2px -1px 20px #888888;	
    border: 1px solid transparent;
    border-radius: 10px;   
    .form-control:disabled{
        cursor: no-drop;
    }
}