div{
	display: flex;
	flex-direction: column;
}


.status {
	display: flex;	
	justify-content: center;	
}
label {	
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5rem;
}
.success:before {
	color: green;
	font-family: FontAwesome;
	font-size: 112px;
	content: "\f058";
}

.error:before {
	color: #e31212f1;
	font-family: FontAwesome;
	font-size: 112px;
	content: "\f057";
}

.info:before {
	color: rgb(72, 255, 0);
	font-family: FontAwesome;
	font-size: 112px;
	content: "\f129";
}
